<section class='crousel container-fluid d-flex justify-content-center align-items-center flex-column'>
    <div class="crousel-container d-flex justify-content-center position-relative w-100">
        <div class="crousel-text position-absolute mt-4 mt-md-0">
            <h2>Do not feel like housework?</h2>
            <ul class="m-0">
                <li>Open time-management</li>
                <li>Only accept suitable requests</li>
                <li>Fair and fixes hourly wage</li>
                <li>Personal contact person</li>
            </ul>
        </div>
        <div class="register">
            <h2>Register Now!</h2>
            <form action="">
                <input type="text" class="form-control" name="" placeholder="First Name">
                <input type="text" class="form-control" name="" placeholder="Last Name">
                <input type="email" class="form-control" name="" placeholder="Email Address">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" contenteditable="true">+91</span>
                    <input type="tel" class="form-control" placeholder="Phone Number" aria-label="Username"
                           aria-describedby="addon-wrapping">
                </div>
                <input type="password" class="form-control" name="" placeholder="Password">
                <input type="password" class="form-control" name="" placeholder="Confirm Password">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="news">
                    <label class="form-check-label" for="news">
                        Send me newsletters from Helperland
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="t&c">
                    <label class="form-check-label" for="t&c">
                        I accept <a>terms and conditions</a> & <a>privacy policy</a>
                    </label>
                </div>
                <div class="robot">
                    <img class="mw-100" src="./Image/Layer 20.png" alt="">
                </div>
                <button class="rounded-pill" type="submit">
                    Get Started <img src="./Image/Shape 2_1.png" alt=""
                                     srcset="">
                </button>
            </form>
        </div>
    </div>
    <div class="down">
        <a href="#work"><img src="./Image/Group 18_5.png" alt=""></a>
    </div>
</section>
<section class="works container-fluid d-flex align-items-center flex-column" id="work">
    <h2>How it works</h2>
    <div>
        <div class="box row d-flex justify-content-center flex-wrap-reverse">
            <div class=" box-item col-lg-6 col-sm-12">
                <h3>Register yourself</h3>
                <p>
                    Provide your basic information to register
                    yourself as a service provider.
                </p>
                <p>Read More <img src="./Image/Shape 2.png" alt=""></p>
            </div>
            <div class="box-img col-lg-4
                 col-sm-12 text-lg-end text-center ms-lg-5 ms-0">
                <img src="./Image/Group 18_3.png" alt="">
            </div>
        </div>
        <div class="box row d-flex justify-content-center flex-wrap">
            <div class="box-img col-lg-4
                 col-sm-12 text-lg-start text-center me-lg-5 me-0">
                <img src="./Image/Group 18_2.png" alt="">
            </div>
            <div class=" box-item col-lg-6 col-sm-12">
                <h3>Get service request</h3>
                <p>
                    You will get service requests from
                    customes depend on service area and profile.
                </p>
                <p>Read More <img src="./Image/Shape 2.png" alt=""></p>
            </div>
        </div>
        <div class="box row d-flex justify-content-center flex-wrap-reverse">
            <div class=" box-item col-lg-6 col-sm-12">
                <h3>Complete service</h3>
                <p>
                    Accept service requests from your customers
                    and complete your work.
                </p>
                <p>Read More <img src="./Image/Shape 2.png" alt=""></p>
            </div>
            <div class="box-img col-lg-4
                 col-sm-12 text-lg-end text-center ms-lg-5 ms-0">
                <img src="./Image/Group 18_4.png" alt="">
            </div>
        </div>
    </div>
    <div class="newsletter">
        <h4>GET OUR NEWSLETTER</h4>
        <div>
            <form action="#">
                <input type="email" name="email" placeholder="YOUR EMAIL">
                <input type="submit" value="Submit" id="submit">
            </form>
        </div>
    </div>
</section>