
<div class="banner">
    <img src="/Image/Group 16.jpg" alt="">
</div>
<section>
    <div class="heading d-flex align-items-center flex-column">
        <h3 class="text-center">A Few words about us</h3>
        <div class="heading-underline position-relative">
            <span class="start-0"></span>
            <img class="position-absolute" src="/Image/forma-1-copy-5.png" alt="">
            <span class="end-0"></span>
        </div>
    </div>
    <div style="margin-bottom: 100px;">
        <p> We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can focus on spending your precious time with your family members.</p>
        <p>We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.</p>
    </div>
    <div class="heading">
        <h3 class="text-center">Our Story</h3>
        <div class="heading-underline position-relative">
            <span class="start-0"></span>
            <img class="position-absolute" src="/Image/forma-1-copy-5.png" alt="">
            <span class="end-0"></span>
        </div>
    </div>
    <div>
        <p> A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.</p>
    </div>
</section>
<section>
    <div class="newsletter">
        <h4>GET OUR NEWSLETTER</h4>
        <div>
            <form action="#" class="d-flex justify-content-center align-items-center flex-wrap">
                <input type="email" name="email" placeholder="YOUR EMAIL" class="rounded-pill">
                <input type="submit" value="Submit" id="submit" class="rounded-pill">
            </form>
        </div>
    </div>
</section>
@section terms{
    <hr>
    <div class="terms">
        <small>©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</small>
    </div>
}