<div class="banner">
    <img src="/Image/Group 18.jpg" alt="">
</div>
<section class="price-section container-fluid">
    <div class="heading d-flex align-items-center flex-column">
        <h3 class="text-center">Prices</h3>
        <div class="heading-underline position-relative">
            <span class="start-0"></span>
            <img class="position-absolute" src="/Image/forma-1-copy-5.png" alt="">
            <span class="end-0"></span>
        </div>
    </div>
    <div class="price">
        <h3>One Time</h3>
        <h5 class="text-center"> &#8364; 18<small>/hr</small></h5>
        <ul>
            <li><span> Lower prices</span></li>
            <li><span> Easy online & secure payment</span></li>
            <li><span> Easy amendment</span></li>
        </ul>
    </div>
</section>
<hr>
<section class="container-fluid extra-service">
    <div class="heading d-flex align-items-center flex-column">
        <h3 class="text-center">Extra Services</h3>
        <div class="heading-underline position-relative">
            <span class="start-0"></span>
            <img class="position-absolute" src="/Image/forma-1-copy-5.png" alt="">
            <span class="end-0"></span>
        </div>
    </div>
    <div class="box d-flex flex-wrap justify-content-center">
        <div class="box-item">
            <div>
                <img src="/Image/Forma 1_3.svg" alt="">
            </div>
            <p>Inside cabinets</p>
            <strong>30 minutes</strong>
        </div>
        <div class="box-item">
            <div>
                <img src="/Image/Shape 1.svg" alt="">
            </div>
            <p>Inside fridge</p>
            <strong>30 minutes</strong>
        </div>
        <div class="box-item">
            <div>
                <img src="/Image/Forma 1_4.svg" alt="">
            </div>
            <p>Inside oven</p>
            <strong>30 minutes</strong>
        </div>
        <div class="box-item">
            <div>
                <img src="/Image/Forma 1_2.svg" alt="">
            </div>
            <p>Laundry wash & dry</p>
            <strong>30 minutes</strong>
        </div>
        <div class="box-item">
            <div>
                <img src="/Image/Forma 1.svg" alt="">
            </div>
            <p>Interior windows</p>
            <strong>30 minutes</strong>
        </div>
    </div>
</section>
<section class="container-fluid cleaning">
    <div class="heading d-flex align-items-center flex-column">
        <h3 class="text-center">What we include in cleaning</h3>
        <div class="heading-underline position-relative">
            <span class="start-0"></span>
            <img class="position-absolute" src="/Image/forma-1-copy-5.png" alt="">
            <span class="end-0"></span>
        </div>
    </div>
    <div class="card-wrap d-flex flex-wrap justify-content-center align-items-start flex-row">
        <div class="card">
            <img src="/Image/Group 18_3.jpg" alt="">
            <div class="card-body">
                <h4>Bedroom and Living Room</h4>
                <ul>
                    <li>Dust all accessible surfaces
                    <li>Wipe down all mirrors and glass fixtures</li>
                    <li>Clean all floor surfaces</li>
                    <li>Take out garbage and recycling</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img src="/Image/Group 18_4.jpg" alt="">
            <div class="card-body">
                <h4>Bathrooms</h4>
                <ul>
                    <li>Wash and sanitize the toilet, shower, tub, sink
                    <li>Dust all accessible surfaces</li>
                    <li>Wipe down all mirrors and glass fixtures</li>
                    <li>Clean all floor surfaces</li>
                    <li>Take out garbage and recycling</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img src="/Image/Group 18_2.jpg" alt="">
            <div class="card-body">
                <h4>Kitchen</h4>
                <ul>
                    <li>The sink</li>
                    <li>The oven (Outside)</li>
                    <li>The work surfaces</li>
                    <li>Dust all accessible surfaces</li>
                    <li>Take out garbage and recycling</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="why container-fluid">
    <div class="heading d-flex align-items-center flex-column">
        <h3 class="text-center">What we include in cleaning</h3>
        <div class="heading-underline position-relative">
            <span class="start-0"></span>
            <img class="position-absolute" src="/Image/forma-1-copy-5.png" alt="">
            <span class="end-0"></span>
        </div>
    </div>
    <div class="features d-flex flex-wrap justify-content-center">
        <div class="left text-start text-lg-end">
            <div>
                <strong>Experienced and vetted professionals</strong>
                <p>
                    dominate the industry in scale and scope with an adaptable, extensive network that consistently
                    delivers exceptional results.
                </p>
            </div>
            <div>
                <strong>Dedicated customer service</strong>
                <p>
                    to our customers and are guided in all we do by their needs. The team is always happy to support
                    you and offer all the information. you need.
                </p>
            </div>
        </div>
        <div class="mid mx-0 mx-lg-3 mx-xl-5">
            <img class="w-100" src="/Image/the-best-img-1.png" alt="">
        </div>
        <div class="right mt-2 mt-lg-0">
            <div>
                <strong>Every cleaning is insured</strong>
                <p>
                    and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean
                    your homes.
                </p>
            </div>
            <div>
                <strong>Secure online payment</strong>
                <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
            </div>
        </div>
    </div>
    <div class="newsletter">
        <h4>GET OUR NEWSLETTER</h4>
        <div>
            <form action="#" class="d-flex justify-content-center align-items-center flex-wrap">
                <input type="email" name="email" placeholder="YOUR EMAIL" class="rounded-pill">
                <input type="submit" value="Submit" id="submit" class="rounded-pill">
            </form>
        </div>
    </div>
</section>
@section terms{
    <hr>
    <div class="terms">
        <small>©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</small>
    </div>
}