@{
    Layout = "_LayoutAfterLogin";
    ViewData["Title"] = "Blocked Customer";
}
@model FavoriteAndBlockeModel

<div class="data-table position-relative">
    <div class="alert alert-danger" style="display: none;" role="alert"></div>
    <table id="example">
        <thead class="d-none">
            <tr>
                <th>Customer Details</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody class="d-flex flex-wrap">
            @foreach (var block in Model.blocked)
            {
                <tr class="d-flex flex-column px-5 py-3 me-3">
                    <td>
                        <div class="profilepic d-flex align-items-center justify-content-center rounded-circle">
                            <img src="/Image/avtar.png" alt="Profile">
                        </div>
                        <p class="text-center mt-2 customername mb-0">@block.FirstName @block.LastName</p>
                    </td>
                    <td class="text-center">
                        <form data-ajax="true" data-ajax-method="post" data-ajax-url="/blockcustomer"
                        data-ajax-loading="#loaderContainer" data-ajax-success="blockCustomerSuccess"
                        data-ajax-failure="blockCustomerError">
                            @if (block.isBlocked != null && block.isBlocked == true)
                            {
                                <input type="hidden" name="customerid" value="@block.TargetUserId">
                                <button class="btn rounded-pill" type="submit">UnBlock</button>
                            }
                            else
                            {
                                <input type="hidden" name="customerid" value="@block.TargetUserId">
                                <button class="btn rounded-pill block" type="submit">Block</button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section css{
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/CSS/_commonlogdedin.css" />
<link rel="stylesheet" href="/CSS/blockcustomer.css" />
@* <link rel="stylesheet" href="/CSS/SP-upcoming.css" /> *@
}
@section JavaScript{
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
    integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
<script src="/JS/_commonlogdedin.js"></script>
<script src="/JS/blockcustomer.js"></script>
<script>
    $(".verticle-menu ul li")[5].classList.add("current_section");
    var table = $("#example").DataTable({
        dom: 't<"table-bottom d-flex justify-content-between align-items-center flex-column flex-md-row"<"table-bottom-inner d-flex flex-column flex-md-row"li>p>',
        pagingType: "full_numbers",
        columnDefs: [
            { orderable: false, targets: 0 },
            { orderable: false, targets: 1 }
        ],
        language: {
            paginate: {
                first: '<img src="/Image/Group 36.png" alt="">',
                last: '<img src="/Image/Group 36.png" style="transform:rotate(180deg)" alt="">',
                previous: '<img src="/Image/keyboard-right-arrow-button copy.png" alt="">',
                next: '<img src="/Image/keyboard-right-arrow-button copy.png" style="transform:rotate(180deg)" alt="">',
            },
            info: "Total Record: _MAX_",
            lengthMenu: "Show_MENU_Entries",
            emptyTable: "No service request Found",
        },
    });
</script>
}
@section ajaxrequest{
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}