@{
    Layout = "_LayoutAfterLogin";
    ViewData["Title"] = "Service Schedule";
}

<!-- Modal -->
<div class="modal fade" id="ServiceDetail" tabindex="-1" aria-labelledby="ServiceDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content position-relative" style="min-height: 400px;">
            <div id="loaderContainer" style="display: block; position:absolute; height:100%">
                <div class="loader rounded-circle"></div>
            </div>
        </div>
    </div>
</div>

<div id="Calender">
</div>


@section css{
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"
    integrity="sha512-KXkS7cFeWpYwcoXxyfOumLyRGXMp7BTMTjwrgjMg0+hls4thG2JGzRgQtRfnAuKTn2KWTDZX4UdPg+xTs8k80Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/CSS/_commonlogdedin.css" />
<link rel="stylesheet" href="/CSS/service-schedule.css" />

}
@section Javascript{
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
    integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
<script src="/JS/_commonlogdedin.js"></script>
<script src="/JS/service-schedule.js"></script>
}