@model Helperland.Models.ViewModels.RegistrationModel
@{
    ViewBag.title = "Become a Pro";
}
<section class='crousel container-fluid d-flex justify-content-center align-items-center flex-column'>
    <div class="crousel-container d-flex justify-content-center position-relative w-100">
        <div class="crousel-text position-absolute mt-4 mt-md-0">
            <h2>Do not feel like housework?</h2>
            <ul class="m-0">
                <li>Open time-management</li>
                <li>Only accept suitable requests</li>
                <li>Fair and fixes hourly wage</li>
                <li>Personal contact person</li>
            </ul>
        </div>
        <div class="register">
            <h2>Register Now!</h2>
            <form method="post" asp-controller="ServiceProvider" asp-action="SPSignup">
                @if (TempData["alertClass"] != null && TempData["alertContent"] != null)
                {
                    <div class='alert alert-dismissible @TempData["alertClass"] fade show mb-3' role="alert">
                        <span class="content">@TempData["alertContent"]</span>
                    </div>
                }
                <input type="text" class="form-control" asp-for="FirstName" maxlength="100"
                    placeholder="First Given Name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="LastName" maxlength="100" placeholder="Surname">
                <span asp-validation-for="LastName" class="text-danger"></span>
                <input type="email" class="form-control" asp-for="Email" maxlength="100" placeholder="E-mail Address">
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">+91</span>
                    <input type="tel" class="form-control" asp-for="Mobile" maxlength="10" placeholder="Phone Number">
                </div>
                <span asp-validation-for="Mobile" class="text-danger"></span>
                <input type="password" class="form-control" asp-for="Password" maxlength="100" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger text-wrap"></span>
                <input type="password" class="form-control" asp-for="ConfirmPassword" maxlength="100"
                    placeholder="Repeat Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger text-wrap"></span>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="news">
                    <label class="form-check-label" for="news">
                        Send me newsletters from Helperland
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="t&c">
                    <label class="form-check-label" for="t&c">
                        I accept <a>terms and conditions</a> & <a>privacy policy</a>
                    </label>
                </div>
                <div class="robot">
                    <img class="mw-100" src="./Image/Layer 20.png" alt="">
                </div>
                <button class="rounded-pill" type="submit">
                    Get Started <img src="./Image/Shape 2_1.png" alt="" srcset="">
                </button>
            </form>
        </div>
    </div>
    <div class="down">
        <a href="#work"><img src="./Image/Group 18_5.png" alt=""></a>
    </div>
</section>
<section class="works container-fluid d-flex align-items-center flex-column" id="work">
    <h2>How it works</h2>
    <div>
        <div class="box row d-flex justify-content-center flex-wrap-reverse">
            <div class=" box-item col-lg-6 col-sm-12">
                <h3>Register yourself</h3>
                <p>
                    Provide your basic information to register
                    yourself as a service provider.
                </p>
                <p>Read More <img src="./Image/Shape 2.png" alt=""></p>
            </div>
            <div class="box-img col-lg-4
                 col-sm-12 text-lg-end text-center ms-lg-5 ms-0">
                <img src="./Image/Group 18_3.png" alt="">
            </div>
        </div>
        <div class="box row d-flex justify-content-center flex-wrap">
            <div class="box-img col-lg-4
                 col-sm-12 text-lg-start text-center me-lg-5 me-0">
                <img src="./Image/Group 18_2.png" alt="">
            </div>
            <div class=" box-item col-lg-6 col-sm-12">
                <h3>Get service request</h3>
                <p>
                    You will get service requests from
                    customes depend on service area and profile.
                </p>
                <p>Read More <img src="./Image/Shape 2.png" alt=""></p>
            </div>
        </div>
        <div class="box row d-flex justify-content-center flex-wrap-reverse">
            <div class=" box-item col-lg-6 col-sm-12">
                <h3>Complete service</h3>
                <p>
                    Accept service requests from your customers
                    and complete your work.
                </p>
                <p>Read More <img src="./Image/Shape 2.png" alt=""></p>
            </div>
            <div class="box-img col-lg-4
                 col-sm-12 text-lg-end text-center ms-lg-5 ms-0">
                <img src="./Image/Group 18_4.png" alt="">
            </div>
        </div>
    </div>
    <div class="newsletter">
        <h4>GET OUR NEWSLETTER</h4>
        <div>
            <form action="#">
                <input type="email" name="email" placeholder="YOUR EMAIL">
                <input type="submit" value="Submit" id="submit">
            </form>
        </div>
    </div>
</section>
@section css{
<link rel="stylesheet" href="/CSS/become_a_pro.css">
}
@section JavaScript{
<script src="/JS/become_a_pro.js"></script>
}
@section terms{
<hr>
<div class="terms">
    <small>©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</small>
</div>
}
@section validation{
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
    integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"
    integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}